<a href="/register">Register</a>
<%if (user && user.email) {%>
<p>Your email is: <%=user.email%> </p>
<form action="/logout" method="POST"><button>logout</button></form>
<% } else { %>
<a href="/login">Login</a>
<% } %>
<h1> TINYAPP </h1>
