<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>
<body>
    <!-- Add your EJS code here -->
    <% include partials/_header %>
    <a href="/u/<%=shortURL%>"><%=shortURL%></a> : <%=longURL.longURL%>
    <form action="/urls/<%=shortURL%>" method="POST" style="margin:150px;">
      <label for="longURL">Edit long URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="Enter url here" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
</body>
</html>