<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <%include partials/_header %>

    <!-- Add your EJS code here -->
    <% for(link in urls){ %>
    <ul>
      <li>
        <a href="/urls/<%=link%>"><%=link%></a> : <%=urls[link].longURL%>
        <form method="POST" action="/urls/<%=link%>/delete">
          <input type="submit" value="Delete">
        </form>

      </li>
    </ul>
    <%}%>
    <a href="/urls/new">Shorten new URLS</a><br>
</body>
</html>